@font-face {
    font-family: 'LillyBelle';
    src:url(../fonts/LillyBelle.ttf) format('truetype');
}

.header-section {
  background: #deecdf;
  text-align: left;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-section img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
}

.header-section h1 {
  font-family: 'LillyBelle';
  font-size: 1.5em;
  float: center;
  color: #393b3a;
}

ul {
  position:fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #deecdf;
  border-radius: 5px;
}

li a {
  font-size: 1.3em;
  display: block;
  color: #393b3a;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#393b3a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

li a:active{
  background-color:#393b3a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

item h1{
  font-weight: bold;
  font-size: 1.5em;
}

item h2{
  font-weight: bold;
  display:inline-table;
  width: 600px;
  font-size: 1.2em;
}

item time{
  font-style: italic;
  display:inline-table;
  width: 200px;
  font-size: 1em;
}

blog h1{
  font-weight: bold;
  font-size: 1.3em;
}

blog time{
  font-style: italic;
  font-size: 1.2em;
}

.footer-section{
  padding:1em 0;
  width: 100%;
  height: 50px;
	text-align:center;
	background:#deecdf;
}