@font-face {
    font-family: 'LillyBelle';
    src:url(../fonts/LillyBelle.ttf) format('truetype');
}
@font-face {
    font-family: 'AlbanyWTJ';
    src:url(../fonts/AlbanyWTJ.ttf) format('truetype');
}

.header-section {
  background: #deecdf;
  text-align: center;
  min-height: 300px;
}

.header-section img {
  width: 160px;
  height: 160px;
  border-radius:80px;
}

.header-section h1 {
  font-family: 'LillyBelle';
  font-size: 3em;
  text-transform: capitalize;
  color: #393b3a;
}

.header-section p {
  font-family: 'AlbanyWTJ';
  font-size: 1.3em;
  color: #393b3a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #deecdf;
}

li a {
  font-family: 'AlbanyWTJ';
  font-size: 1.3em;
  display: block;
  color: #393b3a;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#393b3a;
  color: white;
}

.resume-section {
  margin: 0 auto;
  width: 580px;
}

.resume-section h1 {
  font-family: 'AlbanyWTJ';
  font-weight: bold;
  font-size: 1.5em;
  color: #393b3a;
}

.resume-section h2 {
  font-family: 'AlbanyWTJ';
  display: inline;
  font-size: 1.5em;
  color: #393b3a;
}

.resume-section p {
  font-family: 'AlbanyWTJ';
  font-size: 1em;
  color: #393b3a;
}

.resume-section time {
  font-family: 'AlbanyWTJ';
  font-style:italic;
  font-size: 0.75em;
  color: #393b3a;
}

.footer-section{
	padding:1em 0;
	text-align:center;
	background:#deecdf;
}