@font-face {
    font-family: 'Courgette-Regular';
    src:url(../fonts/Courgette-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

.header-section {
  background: #deecdf;
  text-align: center;
  min-height: 300px;
}

.header-section img {
  width: 160px;
  height: 160px;
  border-radius:80px;
}

.header-section h1 {
  font-family: 'Courgette-Regular';
  font-size: 4em;
  text-transform: capitalize;
  color: #393b3a;
}

.header-section p {
  font-family: 'Courgette-Regular';
  font-size: 1.3em;
  color: #393b3a;
}

.resume-section {
  margin: 0 auto;
  width: 800px;
}

.resume-section h1 {
  font-family: 'OpenSans-Regular';
  font-weight: bold;
  font-size: 1.5em;
  color: #393b3a;
}

.resume-section h2 {
  font-family: 'OpenSans-Regular';
  display: inline;
  font-size: 1.5em;
  color: #393b3a;
}

.resume-section p {
  font-family: 'OpenSans-Regular';
  font-size: 1em;
  color: #393b3a;
}

.footer-section{
	padding:1em 0;
	text-align:center;
	background:#deecdf;
}